<form name="searchForm">
<div class="form-group">
<label for="menuTitle">Menu title:</label>
<input type="text" id="menuTitle"
placeholder="Title" class="form-control">
</div>
<div class="form-group">
<label for="menuLocation">Menu  location:</label>
<input id="menuLocation"
name="menuLocation"
type="text" 
placeholder="Location" class="form-control">
</div>
<div class="form-group">
<label for="menuCategory">Menu category:</label>
<select id="menuCategory" class="form-control"></select>
</div>
<div class="form-group">
<button type="submit"
class="btn btn-primary btn-block">Search</button>
</div>
</form>